<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
table, th, td {
    border: 1px solid black;
}
</style>
    <link rel="stylesheet" href="https://css.skyscnr.com/flightsearch/static/searchcontrols-refresh-dp.min.b987217ba86f22addf72.css"/></head>
<body>

    <p th:text="'Welcome to TWAirline'"/>

<form th:action="@{/search}" th:object="${searchCriteria}" method="post">

    <p th:text="'Source'"></p>
    <select th:field="*{sourceId}" name="sourceCityId" id="sourceCityId">
        <!-- <option value="DEFAULT">Select Source</option>-->
        <option th:each="city : ${cityList}" th:value="${city.id}" th:text="${city.name}"/>
    </select>


    <p th:text="'Destination'"></p>
    <select th:field="*{destinationId}" name="destCityId" id="destCityId">
        <!-- <option value="DEFAULT">Select Destination</option>-->
        <option th:each="city : ${cityList}" th:value="${city.id}" th:text="${city.name}"/>
    </select>

    <p th:text="'No Of Travellers'"></p>
    <input th:field="*{noOfTravellers}" type="number" min="1" required="required"/>

    <p th:text="'Travel Date'"></p>
    <input type="date" th:field="*{departureDate}"/>

    <p th:text="'Travel Class'"></p>
    <select th:field="*{travelClass}" name="travelClass" id="travelClass" required="required">
         <option value="">Select Class</option>
        <option th:each="classType : ${travelClassTypes}" th:value="${classType}" th:text="${classType}"/>
    </select>


    <input type="submit" value="Search"/>
</form>





    <div th:if="${searchResults.size()} != 0">
    <table>
        <caption>Available Flights</caption>
        <tr>
            <td>Flight No</td>
            <td>Source</td>
            <td>Destination</td>
            <td>Departs On</td>
            <td>Price/Passenger</td>
            <td>Total Price</td>

        </tr>
        <th:block th:each="result : ${searchResults}">
            <tr>
                <td th:text="${result.flight.flightNo}"/>
                <td th:text="${result.flight.sourceCityId}"/>
                <td th:text="${result.flight.destinationCityId}"/>
                <td th:text="${result.flight.departureDate}?${#temporals.format(result.flight.departureDate, 'dd-MMM-yyyy')}:''"></td>
                <td th:text="${result.flightPrice.pricePerPassenger}"></td>
                <td th:text="${result.flightPrice.totalPrice}"></td>
            </tr>
        </th:block>
    </table>
    </div>
    <div th:if="${searchResults.size()} == 0">
        <h4 th:text="'Sorry! No flights available for this search criteria.'"/>
    </div>


</body>
</html>